.toolbar-spacer {
  flex: 1 1 auto;
}

a {
  padding-right: 10px;
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.active-link {
  text-decoration: underline;
  color: pink;
}

.mat-toolbar {
  background-color: lightblue;
}
