<!--dash.component.html-->
<div class="grid-container">
  <a mat-raised-button routerLink="input" class="item">Daten hinzufügen</a>
  <mat-grid-list cols="{{ ( cards | async )?.columns }}" rowHeight="200px">
    <!-- Line Card -->
    <mat-grid-tile [colspan]="( cards | async )?.lineChart.cols" [rowspan]="( cards | async )?.lineChart.rows">
      <app-card title="Gesamtverbrauch">
        <app-consumption-line-chart [legend]="legendLineChart" [labels]="labels" [gas]="gas" [water]="water"
                                    [electricityDay]="electricityDay" [electricityNight]="electricityNight"
        ></app-consumption-line-chart>
      </app-card>
    </mat-grid-tile>

    <!-- Bar Charts-->
    <mat-grid-tile [colspan]="( cards | async )?.barChart.cols" [rowspan]="( cards | async )?.barChart.rows">
      <app-card title="Gas">
        <app-consumption-bar-chart [labels]="labels" [color]="'#e6e600'" [name]="'Gas'" [data]="gas"
                                   [unit]="'m&sup3;'"></app-consumption-bar-chart>
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="( cards | async )?.barChart.cols" [rowspan]="( cards | async )?.barChart.rows">
      <app-card title="Wasser">
        <app-consumption-bar-chart [labels]="labels" [color]="'#0000e6'" [name]="'Wasser'" [data]="water"
                                   [unit]="'m&sup3;'"></app-consumption-bar-chart>
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="( cards | async )?.barChart.cols" [rowspan]="( cards | async )?.barChart.rows">
      <app-card title="Strom - Tag">
        <app-consumption-bar-chart [labels]="labels" [color]="'#ff3434'" [name]="'Strom - Tag'" [data]="electricityDay"
                                   [unit]="'kWh'"></app-consumption-bar-chart>
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="( cards | async )?.barChart.cols" [rowspan]="( cards | async )?.barChart.rows">
      <app-card title="Strom - Nacht">
        <app-consumption-bar-chart [labels]="labels" [color]="'#9a0000'" [name]="'Strom - Nacht'"
                                   [data]="electricityNight" [unit]="'kWh'"></app-consumption-bar-chart>
      </app-card>
    </mat-grid-tile>

    <!--Table-->
    <mat-grid-tile [colspan]="( cards | async )?.table.cols" [rowspan]="( cards | async )?.table.rows">
      <app-card title="Daten">
        <app-table [data]="rawData" [displayedColumns]="tableColumns"></app-table>
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
