.chartContainer canvas {
  max-height: 250px;
  width: auto;
}

.chartContainer {
  max-height: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
