<div class="mat-elevation-z8 small-table">
  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort matSortActive="date" matSortDisableClear matSortDirection="desc">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Date</th>
      <td mat-cell *matCellDef="let row">{{row.date | date}}</td>
    </ng-container>

    <ng-container matColumnDef="gas">
      <th mat-header-cell *matHeaderCellDef>Gas</th>
      <td mat-cell *matCellDef="let row">{{row.gas}}</td>
    </ng-container>

    <ng-container matColumnDef="water">
      <th mat-header-cell *matHeaderCellDef>Water</th>
      <td mat-cell *matCellDef="let row">{{row.water}}</td>
    </ng-container>

    <ng-container matColumnDef="electricityDay">
      <th mat-header-cell *matHeaderCellDef>Electricity Day</th>
      <td mat-cell *matCellDef="let row">{{row.electricityDay}}</td>
    </ng-container>

    <ng-container matColumnDef="electricityNight">
      <th mat-header-cell *matHeaderCellDef>Electricity Night</th>
      <td mat-cell *matCellDef="let row">{{row.electricityNight}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
