/*card.component.css*/
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  justify-content: center;
  align-items: stretch;
}

mat-card {
  display: flex;
  flex-direction: column;
}
