<div class="container">
  <form [formGroup]=conForm (ngSubmit)="save()" class="form">
    <mat-form-field class="full-width">
      <mat-label>Gas</mat-label>
      <input type="number" matInput formControlName="gas">
      <mat-error *ngIf="(gas?.invalid && (gas?.dirty || gas?.touched)) && gas?.errors?.required">
        Feld darf nicht leer sein
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Wasser</mat-label>
      <input type="number" matInput formControlName="water">
      <mat-error *ngIf="(water?.invalid && (water?.dirty || water?.touched)) && water?.errors?.required">
        Feld darf nicht leer sein
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Strom Tag</mat-label>
      <input type="number" matInput formControlName="electricityDay">
      <mat-error
        *ngIf="(electricityDay?.invalid && (electricityDay?.dirty || electricityDay?.touched)) && electricityDay?.errors?.required">
        Feld darf nicht leer sein
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Strom Nacht</mat-label>
      <input type="number" matInput formControlName="electricityNight">
      <mat-error
        *ngIf="(electricityNight?.invalid && (electricityNight?.dirty || electricityNight?.touched)) && electricityNight?.errors?.required">
        Feld darf nicht leer sein
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <a mat-raised-button color="warn" routerLink="..">Abbrechen</a>
      <button type="submit" mat-raised-button color="primary" [disabled]="conForm.invalid">Speichern</button>
    </div>
  </form>
</div>
