.container {
  margin: 25px 25% 0 25%;
  position: relative;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80%;
  min-width: 80%;
}

.form {
  display:block;
  margin: 0 auto;
  min-width: 300px;
  max-width: 30%;
  width: 100%;
}

.full-width {
  width: 100%;
}
